<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Appointment</title>
</head>
<body>
    <%- include('../../navbar') %>
    <h3>Book an Appointment to see your favourite animals!</h3>
    <form action="/customer/appointment/create" method="POST">
        Select a date: <input type="date" name="appointmentDate" required> <br>
        Select a time slot: 
        <select required name="timeslot">
            <option value="1100">1100</option>
            <option value="1300">1300</option>
            <option value="1400">1400</option>
            <option value="1500">1500</option>
            <option value="1600">1600</option>
            <option value="1700">1700</option>
        </select> <br>
        Select a location: 
        <select required name="location">
            <option value="Suntec">Suntec</option>
            <option value="Tampines">Tampines</option>
            <option value="Jurong East">Jurong East</option>
        </select> <br>
        Select a pet species you would like to see:
        <select required name="petspecies">
            <% for (species of pet_species_list) {%>
                <option value="<%=species%>"><%=species%></option>
            <% } %>
        </select> <br>
        <button type="submit">Book Appointment</button>
    </form>
</body>
</html>